
#twitter {
	background: radial-gradient(#87CEFA, #1E90FF, #4169E1);
	padding: 10px;
	border-radius: 100px;
	transform:rotate(-30deg);
	position: absolute;
	left: 1%;
	top: 4%;
}

.navbar-default {
	margin: 0;
	opacity: 0.9;
	background-color: #041c27;
}

.jumbotron2 {
	background-image: url(../img/irene.png);
	background-size: cover;
    background-repeat: no-repeat;
	
    padding: 80px 40px;
    margin: 0;
    font-size: 16px;
}

.jumbotron3 {
	background-image: url(../img/irene2.png);
	background-size: cover;
    background-repeat: no-repeat;
    height: 20%;
    padding: 50px;
    margin: 0;
    font-size: 14px;
}

.section0 {
	background-color: #fff;
	color: #000;
	font-size: 14px;
	padding: 40px 10px;
}

.section1 {
	background-color: #26b3f3;
	color: #fff;
	font-size: 20px;
	padding: 40px 10px;
}

.section2 {
	background-color: #093e56;
	color: #fff;
	font-size: 14px;
	padding: 10px 10px;
}

.footer {
	background-color: #041c27;
	color: #fff;
	font-size: 13px;
	padding: 20px 10px;
}
	
.popup {
	position: absolute;
    cursor: pointer;
}

.popupCalendar {
    cursor: pointer;
	line-height:1.3;
}

.betacontainer {
	margin-left: -10px;
	color: #26b3f3;
	font-size: 80%;
	border-color: #26b3f3;
	border-width: 1.5px;
	border-style: solid;	
}

.beta {
	margin: 1px;
}

.impressum_datenschutz {
	text-align: right;
	padding: 10px;
	background-color: #041c27;
}


.month {
display: none;
color: #093e56;
border:none;
}

.quill {
	width: 20px;
	height: 29px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.HTUPopuptext {
	background: #093e56;
	color: #fff;
    visibility: hidden;
    padding: 0 1%;
    position: fixed;
	left: 20%;
	right: 20%;
	top: 30%;
	bottom: 30%;
    border: 4px solid #e3d2b4;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	font-size: 120%;
	z-index: 2;
}

.diaryPopuptext {
    
	/*font-family: 'Caflisch';*/
	visibility: hidden;
    padding: 0 3%;
    position: fixed;
	left: 25%;
	right: 25%;
	top: 10%;
	bottom: 10%;
    background: #FFFFFF;
/*border: 4px solid #e3d2b4;*/
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 2;
	font-size: 150%;
	line-height: 1.3;
	color:#000000;
	background-image: url('../img/sheet1.png');
	background-color: transparent;
	background-repeat: no-repeat; 
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	   
}
					
.positionPopuptext {
  visibility: hidden;
	padding: 0 1%;
    position: fixed;
	left: 30%;
	right: 30%;
	top: 25%;
	bottom: 15%;
    background: #093e56;
	color: #fff;
    border: 4px solid #e3d2b4;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 20;
	font-size: 120%;
}
			

.closeButton
{
	 text-align:center; 
	 padding-bottom: 3%;
}

.close1 {
	position: fixed;
	background-color: #093e56;
	color: #e3d2b4;
	border-radius: 50%;
	border: solid 2px #e3d2b4;
	font-size: 100%;
	width: 30px;
	z-index: 3;
}

.close3 {
	position: fixed;
	background-color: #e3d2b4;
	color: #093e56;
	border-radius: 50%;
	width: 30px;
	border: none;
	font-size: 100%;
	z-index: 3;
}

.close1:hover {
	background-color: #e3d2b4;
	color: #093e56;
	border: solid 2px #093e56;
	cursor: pointer;
}

.close2:hover {
	background-color: #093e56; 
	color: #e3d2b4;
	border: solid 2px #e3d2b4;
	cursor: pointer;
}

.close3:hover {
	background-color: #093e56; 
	color: #e3d2b4;
	border: solid 2px #e3d2b4;
	cursor: pointer;
}


div#border {
	width: 100%;
	height: 100%;
	overflow: Scroll;
	border: Inset 0px #AEAEAE;
	margin-top: 10px;
}

div#border svg#img {
	height: Auto;
	object-fit: Cover;
}

.navbarMap {
	background-color: #093e56;
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
	padding: 3px;
	
  
    z-index:10;
}

.navbarMap a {
	float: left;
	display: block;
	color: #666;
	text-align: center;
	padding: 20px;
	text-decoration: none;
	font-size: 17px;
}

.navbarMap a:hover {
	background-color: #ddd;
	color: #000000;
}

.navbarMap a.active {
	background-color: #4CAF50;
	color: #FFFFFF;
}

#main1 {
	width: 100%;
	height: 100vh;
	overflow: auto;
	cursor: grab;
	cursor: -o-grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

#main2 {
	width: 100%;
	
	overflow: auto;
	cursor: grab;
	cursor: -o-grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

#main3 {
	width: 100%;
	height: 100vh;
	overflow: auto;
	cursor: grab;
	cursor: -o-grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.main img {
	height: auto;
	width: 100%;
}

#overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
}

#overlay2 {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 10;
}

.headinglogbook {
	text-align: center;
	color: #e3d2b4;
}


 .map {
	background-color: #e3d2b4;
	color: #000000;
	border: 10px solid #e3d2b4;
	margin: 1% 8% 1% 8%;
}

.passengers li {
	list-style-type: "\2693 ";
}

.con {
  position: relative;
  max-width: 30%;
}

.con .btn1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  text-align: center;
}


/*table-cols in calendar*/

.xl70 {
	border-top:.5pt solid #31869B;
	border-right:.5pt solid #31869B;
	border-bottom:none;
	border-left:.5pt solid #31869B;
	}
.xl73 {
	color:#FFFFFF;
	mso-number-format:d;
	text-align:right;
	border-top:.5pt solid #31869B;
	border-right:.5pt solid #31869B;
	border-bottom:.5pt solid #31869B;
	border-left:.5pt solid #31869B;
	white-space:nowrap;
	}
.xl75 {
	border-top:none;
	border-right:.5pt solid #31869B;
	border-bottom:.5pt solid #31869B;
	border-left:.5pt solid #31869B;
	}
.xl76 {
	color:white;
	font-size:12.0pt;
	text-align:center;
	background:#215967;
	mso-pattern:black none;
	white-space:nowrap;
	}
.xl77 {
	color: #FFFFFF;
	padding-left:1%;
	padding-right:1%;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #31869B;
	border-bottom:.5pt solid #31869B;
	border-left:.5pt solid #31869B;
	}
	
	/*
@font-face {
  font-family: 'Caflisch';
  font-style:  normal;
  font-weight: bold;
  src: url("../fonts/Caflisch Script Pro Light.woff2") format("woff2");
}*/